.grid-section {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 24px;
  padding: 128px 160px;
}

.pink-background {
  /* background: lightpink; */
  background: var(--color-primary);
}

.white-background {
  background: whitesmoke;
}