#root {
  margin: 0 auto;
}

body {
  margin: 0;
  font-family: "Montserrat";
}

h1, section, footer {
  padding: 2rem;
}

.light {
  background: aquamarine;
  color: rgb(0, 24, 164);
}

.dark {
  background: rgb(0, 24, 164);
  color: aquamarine;
}

button {
  padding: 18px;
  border-radius: 30px;
  border: 0;
  background: hotpink;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: "Montserrat";
}

select {
  border: none;
  border-radius: 4px;
  color: rgb(0, 24, 164);
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  font-family: 'Montserrat';
  padding: 0 20px;
  cursor: pointer;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
