body {
  background: #094C5F;
  color: white;
  font-family: "Montserrat";
  margin: 0;
  text-align: center;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./paint.jpg");
  height: 50vh;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 18px;
}