/* INSTRUCTIONS
 *
 * 1) Limit the total width of
 *    the .intro-content to about half
 *    of it's parent
 *
 * 2) Stop the text from overflowing
 *    out the bottom at small screen
 *    widths
 *
 *
 */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.container {
  background: #2f0d94;
  color: white;

  width: 80%;
  margin-inline: auto;

  padding: 2em;
  height: 300px;
}